{% extends "base.html" %}
{% block content %}
    <header>
        <h1>My Top Artists Ranking</h1>
    </header>
    <main>
        <label>
            <select onChange="location.href=value;">
                {% if term == 0 %}
                    <option value="/my_top_artists?term=0" selected>Short Term</option>
                    <option value="/my_top_artists?term=1">Medium Term</option>
                    <option value="/my_top_artists?term=2">Long Term</option>
                {% elif term == 1 %}
                    <option value="/my_top_artists?term=0">Short Term</option>
                    <option value="/my_top_artists?term=1" selected>Medium Term</option>
                    <option value="/my_top_artists?term=2">Long Term</option>
                {% elif term == 2 %}
                    <option value="/my_top_artists?term=0">Short Term</option>
                    <option value="/my_top_artists?term=1">Medium Term</option>
                    <option value="/my_top_artists?term=2" selected>Long Term</option>
                {% endif %}
            </select>
        </label>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>ARTIST</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <div class="thumbnail">
                            {% if item.images|length > 0 %}
                                <img class="cover-art" width="160" height="160" alt="Artist image"
                                     src={{ item.images.0.url }}>
                            {% else %}
                                <img class="cover-art" width="160" height="160" alt="Track image"
                                     src="../static/images/null_img.jpg">
                            {% endif %}
                            <div class="thumbnail-names">
                                <h3>{{ item.name }}</h3>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; My Top Artists Ranking</p>
    </footer>
{% endblock %}